<template>
  <b-container id="home-container" class="no-paddings h-100" fluid>
      <b-row class="h-100">
        <b-col cols="3">
          <SideBar />
        </b-col>
        <b-col cols="9">
          <Map />
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
import SideBar from "@/components/SideBar.vue";
import Map from "@/components/Map.vue";

export default {
  name: "home",
  components: {
    SideBar,
    Map
  }
}
</script>