<template>
  <div class="page">
    <b-container id="resume">
      <b-row class="text-center">
        <b-col>
          <img
            id="profileImage"
            src="../assets/img/profile.png"
            alt="profileImg"
            width="100px"
            height="100px"
          />
        </b-col>
      </b-row>
      <b-row class="text-center">
        <b-col id="username">
          <h1>{{ form.firstName }} {{ form.lastName }}</h1>
        </b-col>
      </b-row>

      <b-row class="justify-content-center text-center">
        <b-col cols="2" class="stat">
          <h4>{{ this.$store.state.travels.travelCount }}</h4>
          <p>Voyages</p>
        </b-col>
        <b-col cols="2" class="center stat">
          <h4>{{ this.$store.state.user.subscribers.ids.length }}</h4>
          <p>Abonnés</p>
        </b-col>
        <b-col cols="2" class="stat">
          <h4>{{ this.$store.state.user.subscribed.ids.length }}</h4>
          <p>Abonnements</p>
        </b-col>
      </b-row>
    </b-container>

    <b-container id="profile-settings" class="profileDataCard">
      <b-row>
        <h1>Détails du profil</h1>
      </b-row>
      <b-row>
        <b-col cols="8" class="general-info">
          <ul v-if="errors" class="error-messages">
            <li v-for="(v, k) in errors" :key="k">{{ k }}: {{ v }}</li>
          </ul>
          <b-form @submit.prevent="updateUser(form)">
            <b-row align-v="center">
              <b-col cols="3" class="text-right label">Nom / prénom</b-col>
              <b-col>
                <b-form-input
                  v-model="form.lastName"
                  class="input"
                  size="lg"
                ></b-form-input>
              </b-col>
              <b-col>
                <b-form-input
                  v-model="form.firstName"
                  class="input"
                  size="lg"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row align-v="center">
              <b-col cols="3" class="text-right label">Nom d'utilisateur</b-col>
              <b-col>
                <b-form-input
                  v-model="form.username"
                  class="input"
                  size="lg"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row align-v="center">
              <b-col cols="3" class="text-right label">Email</b-col>
              <b-col>
                <b-form-input
                  v-model="form.email"
                  class="input"
                  size="lg"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="justify-content-md-center">
              <b-col cols="3">
                <b-button class="darkButton input" type="submit"
                  >Enregistrer</b-button
                >
              </b-col>
              <b-col cols="3">
                <b-button class="lightButton input" href="/">Annuler</b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-col>

        <b-col cols="4" class="change-pw">
          <b-form @submit.prevent="updatePassword(form2)">
            <b-row>
              <b-form-input
                v-model="form2.oldPassword"
                type="password"
                class="input"
                size="lg"
                placeholder="Mot de passe actuel"
              ></b-form-input>
            </b-row>
            <b-row>
              <b-form-input
                v-model="form2.newPassword1"
                type="password"
                class="input"
                size="lg"
                placeholder="Nouveau mot de passe"
              ></b-form-input>
            </b-row>
            <b-row>
              <b-form-input
                v-model="form2.newPassword2"
                type="password"
                class="input"
                size="lg"
                placeholder="Répétez le nouveau mot de passe"
              ></b-form-input>
            </b-row>
            <b-row>
              <b-button class="darkButton input" type="submit">Changer le mot de passe</b-button>
            </b-row>
          </b-form>
        </b-col>
      </b-row>
    </b-container>

    <b-container id="trip-list" class="profileDataCard">
      <b-row align-v="center">
        <h1>Voyages</h1>
        <router-link :to="{ name: 'travel-new' }">
          <b-button class="darkButton">Ajouter</b-button>
        </router-link>
      </b-row>
      <b-col>
        <div v-if="isLoading" class="loader mt-4">
          <div class="spinner-border"></div>
        </div>
        <div v-else>
          <!-- TODO make the travels appear in columns -->
          <div v-if="travels.length === 0">Aucun voyage disponible</div>
          <TripPreview v-for="(travel, index) in travels" :travel="travel" :key="travel.title + index" />
        </div>
      </b-col>
    </b-container>
  </div>
</template>

<script>
import TripPreview from "../components/TripPreview.vue";
import jwt_decode from 'jwt-decode';
import { mapState, mapGetters } from 'vuex';
import { UPDATE_USER, UPDATE_PASSWORD, FETCH_TRAVELS_FILTERS, FETCH_SUBSCRIBERS, FETCH_SUBSCRIBED } from '../store/actions';
import { SET_ERROR } from '../store/mutations';

export default {
  name: "travel",
  components: {
    TripPreview
  },
  data() {
    return {
      form: {
        lastName: '',
        firstName: '',
        username: '',
        email: ''
      },
      form2: {
        oldPassword: '',
        newPassword1: '',
        newPassword2: ''
      }
    }
  },
  mounted() {
    this.$store.commit(SET_ERROR, null);
    this.form = this.$store.state.user.user;
    this.fetchTravels();
    this.fetchSubscribers();
    this.fetchSubscribed();
  },
  methods: {
    getUserID() {
      let userID = null;
      const token = localStorage.getItem('refreshToken');
      if (token) {
        const decoded = jwt_decode(token);
        userID = decoded.user_id;
      }
      return userID
    },
    updateUser(form) {
      this.$store.dispatch(UPDATE_USER, form);
    },
    updatePassword(form) {
      // Check passwords
      if (form.newPassword1 !== form.newPassword2) {
        this.$store.commit(SET_ERROR, { password: "the password repetition is not identical to the password" });
        return;
      }
      // TODO check current password
      this.$store.dispatch(UPDATE_PASSWORD, { id: form.id, password: form.newPassword1 });
    },
    fetchTravels() {
      this.$store.dispatch(FETCH_TRAVELS_FILTERS, { traveluser_id: this.getUserID() });
    },
    fetchSubscribers() {
      this.$store.dispatch(FETCH_SUBSCRIBERS, this.getUserID());
    },
    fetchSubscribed() {
      this.$store.dispatch(FETCH_SUBSCRIBED, this.getUserID());
    }
  },
  computed: {
    ...mapState({
      errors: state => state.user.errors
    }),
    ...mapGetters(["travels", "isLoading"])
  }
};
</script>

<style scoped>
#profileImage {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid lightgray;
  margin-top: 40px;
}
#username {
  margin-top: 30px;
  margin-bottom: 30px;
}
.stat {
  font-family: "OpenSansRegular";
  color: lightgray;
}
.center {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.profileDataCard {
  margin-top: 50px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.label {
  font-family: "OpenSansRegular";
  color: lightgray;
}
.input {
  border-radius: 30px;
  border: 1px solid lightgray;
  margin: 10px;
}
.darkButton {
  font-family: "OpenSansBold";
  background-color: var(--dark-green);
  height: calc(1.5em + 1rem + 2px);
  border-radius: 30px;
  border: 1px solid var(--dark-green);
  margin-left: 10px;
}
.lightButton {
  font-family: "OpenSansBold";
  color: var(--middle-green);
  background-color: white;
  height: calc(1.5em + 1rem + 2px);
  border-radius: 30px;
  border: 1px solid var(--middle-green);
}
.general-info {
  padding-left: 0px;
  padding-right: 30px;
  border-right: 2px solid lightgray;
}
.change-pw {
  padding-right: 0px;
  padding-left: 20px;
}

.error-messages {
  list-style-type: none;
  color: red;
}
</style>
