<template>
  <b-container id="travel-container " class="no-paddings h-100 w-100" fluid>
    <b-row class="h-100">
      <b-col id="travel-detailed">
        <TripDetails :travelId="getTravelId" />
      </b-col>
      <b-col id="travel-map">
        <Map />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import TripDetails from "@/components/TripDetails.vue";
import Map from "@/components/Map.vue";

export default {
  name: "travel",
  components: {
    TripDetails,
    Map
  },
  computed: {
    getTravelId() {
      return this.$route.params.id;
    }
  }
};
</script>

<style scoped>
#travel-container {
  position: fixed;
}

#travel-detailed {
  padding-right: 0;
}

#travel-map {
  padding-left: 0;
}
</style>