<template>
  <div class="new-travel">
    <b-form @submit.prevent="onNewTravel()">
      <b-container>
        <b-row>
          <h1>Ajouter un voyage</h1>
        </b-row>
        <b-row class="card">
          <b-row align-v="center">
            <b-col cols="3" class="text-right label">
              <label for="travel-name">Nom du voyage</label>
            </b-col>
            <b-col cols="7">
              <b-form-input
                id="travel-name"
                v-model="travel.name"
                placeholder="Séjour à Berne"
                required
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3" class="text-right label">
              <label for="travel-banner">Bannière</label>
            </b-col>
            <b-col cols="7">
              <b-form-file
                id="travel-banner"
                v-model="travel.banner"
                placeholder="Choisissez un fichier ou déposez-le ici..."
                drop-placeholder="Déposez le fichier ici..."
                accept="image/jpeg, image/png, image/gif"
                browse-text="Parcourir"
              ></b-form-file>
            </b-col>
          </b-row>
        </b-row>
      </b-container>
      <b-container>
        <b-row class="card">
          <b-row align-v="center">
            <b-col cols="3" class="text-right label">
              <label for="step-name">Nom de l'étape</label>
            </b-col>
            <b-col cols="7">
              <b-form-input
                id="step-name"
                v-model="travel.step.title"
                placeholder="Etape à Zurich"
                required
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3" class="text-right label">
              <label for="step-start-date">Date de début</label>
            </b-col>
            <b-col cols="7">
              <b-form-input
                id="step-start-date"
                v-model="travel.step.startDate"
                type="date"
                required
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3" class="text-right label">
              <label for="step-end-date">Date de fin</label>
            </b-col>
            <b-col cols="7">
              <b-form-input id="step-end-date" v-model="travel.step.endDate" type="date" required></b-form-input>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3" class="text-right label">
              <label for="step-street">Location</label>
            </b-col>
            <b-col cols="7">
              <b-row>
                <b-col cols="6">
                  <b-form-input
                    id="step-street"
                    v-model="travel.step.street"
                    placeholder="Adresse"
                    required
                  ></b-form-input>
                </b-col>
                <b-col cols="6">
                  <b-form-input v-model="travel.step.streetNum" placeholder="Numéro" required></b-form-input>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3"></b-col>
            <b-col cols="7">
              <b-row>
                <b-col cols="6">
                  <b-form-input placeholder="NPA" v-model="travel.step.zip" required></b-form-input>
                </b-col>
                <b-col cols="6">
                  <b-form-input placeholder="Ville" v-model="travel.step.city" required></b-form-input>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3" class="text-right label">
              <label for="travel-description">Description</label>
            </b-col>
            <b-col cols="7">
              <b-form-textarea id="travel-description" v-model="travel.step.description" required></b-form-textarea>
            </b-col>
          </b-row>
          <b-row align-v="center" class="mt-3">
            <b-col cols="3" class="text-right label">
              <label for="travel-gallery">Galerie</label>
            </b-col>
            <b-col cols="7">
              <b-form-file
                id="travel-gallery"
                v-model="travel.step.gallery"
                placeholder="Choisissez un fichier ou déposez-le ici..."
                drop-placeholder="Déposez le fichier ici..."
                accept="image/jpeg, image/png, image/gif"
                browse-text="Parcourir"
                multiple
              ></b-form-file>
            </b-col>
          </b-row>
        </b-row>
        <b-row>
          <ul v-if="errors" class="error-messages">
            <li v-for="(v, k) in errors" :key="k">{{ k }}: {{ v }}</li>
          </ul>
        </b-row>
        <b-row>
          <div class="form-buttons">
            <button :disabled="inProgress" type="submit" class="primary-button">Enregistrer</button>
            <button class="secondary-button ml-3">Ajouter une étape</button>
          </div>
        </b-row>
      </b-container>
    </b-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { CREATE_TRAVEL } from "../store/actions";

export default {
  name: "travelNew",
  computed: {
    ...mapGetters(["travel", "errors"])
  },
  data() {
    return {
      inProgress: false
    };
  },
  methods: {
    onNewTravel() {
      this.inProgress = true;
      this.$store.dispatch(CREATE_TRAVEL).then(() => {
        this.inProgress = false;
      });
    }
  }
};
</script>

<style scoped>
.new-travel {
  background-color: var(--light-gray);
  height: 100%;
  margin-top: 20px;
}

.card {
  font-family: "SourceSansProRegular";
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 20px;
  border-color: white;
  -webkit-box-shadow: 0px 0px 83px -19px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 83px -19px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 83px -19px rgba(0, 0, 0, 0.16);
}

.card label {
  color: var(--middle-light-gray);
}

.card input,
.card input[type="file"] {
  font-family: "SourceSansProLight";
  font-weight: bold;
  color: #000000;
  border-color: var(--middle-light-gray);
  border-radius: 30px;
  padding-left: 1rem;
  height: 42px;
}

.card input:focus {
  border-color: var(--dark-green);
}

.card textarea {
  font-family: "SourceSansProLight";
  font-weight: bold;
  color: #000000;
  border-color: var(--middle-light-gray);
  border-radius: 10px;
  padding-left: 1rem;
  height: 200px;
}

::placeholder {
  color: var(--middle-light-gray);
}

.form-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-messages {
  list-style-type: none;
  color: red;
}
</style>