<template>
  <b-navbar class="navbar" toggleable="lg">
    <div class="navbar-left">
      <b-container class="navbar-left-content">
        <b-row align-v="center h-100 w-100" no-gutters="true">
          <b-col lg="2" class="text-right">
            <b-navbar-brand href="/">
              <img
                src="../assets/img/logo.png"
                alg="logo"
                width="70"
                height="70"
              />
            </b-navbar-brand>
          </b-col>
          <b-col lg="9" offset-lg="1">
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav>
                <b-nav-item href="#" active>Tous les voyages</b-nav-item>
                <b-nav-item href="#">Voyages des mes amis</b-nav-item>
                <b-nav-item href="#">Mes voyages</b-nav-item>
                <b-nav-item href="#">Mes likes</b-nav-item>
              </b-navbar-nav>
            </b-collapse>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="navbar-right">
      <b-container class="navbar-right-content">
        <b-row align-v="center h-100 w-100">
          <b-col class="text-right" cols="10">
            <ProfileHeader v-if="isConnected" />
            <div class="login-buttons" v-else>
              <LoginButton />
              <RegisterButton />
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </b-navbar>
</template>

<script>
import ProfileHeader from "./ProfileHeader.vue";
import LoginButton from "./LoginButton.vue";
import RegisterButton from "./RegisterButton.vue";

export default {
  name: "VHeader",
  components: {
    ProfileHeader,
    LoginButton,
    RegisterButton
  },
  data() {
    return {
      get isConnected() {
        return localStorage.getItem('refreshToken') || false;
      }
    }
  }
};
</script>

<style scoped>
.navbar {
  flex-direction: row;
  padding: 0;
  font-family: OpenSansBold;
}

.navbar-left {
  background-color: var(--main-bg-color);
  height: 90px;
  max-width: 50%;
  margin: 0 0 0 -20px;
  flex-grow: 1;
  transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
}

.navbar-left-content {
  height: 90px;
  transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
}

.navbar-right {
  max-height: 90px;
  max-width: 50%;
  margin-left: 20px;
  flex-grow: 1;
}

.navbar-right-content {
  height: 90px;
  padding-left: 40px;
}

.navbar-brand {
  margin-right: 0;
}

/* Filters buttons */
.navbar-light .navbar-nav .nav-link {
  color: var(--main-dark-gray);
  font-family: "OpenSansRegular";
  font-size: 12px;
  padding: 5px;
}

.navbar-light .navbar-nav .active {
  background-color: var(--custom-yellow);
  color: white;
  border-radius: 4px;
}

.nav-item {
  background-color: white;
  margin-right: 10px;
  border-radius: 4px;
}

.nav-item:hover {
  background-color: var(--custom-yellow);
  color: white;
}
</style>
