<template>
  <span>
    <b-link v-b-modal.loginModal id="login" class="secondary-button" href="#">Se connecter</b-link>

    <b-modal id="loginModal" title="Bienvenue sur" hide-footer hide-header>
      <b-container>
        <div class="header">
          <b-row class="text-center">
            <b-col>
              <h6 id="greetings">BIENVENUE SUR</h6>
            </b-col>
          </b-row>
          <b-row class="text-center">
            <b-col>
              <img
                id="logo"
                src="../assets/img/logo1.png"
                alg="logo"
                width="120px"
                height="120px"
              />
            </b-col>
          </b-row>
        </div>
        <b-row class="text-center body-form">
          <b-col>
            <ul v-if="errors" class="error-messages">
              <li v-for="(v, k) in errors" :key="k">{{ k }}: {{ v }}</li>
            </ul>
            <b-form @submit.prevent="login(username, password)">
              <b-form-group id="group1">
                <b-form-input v-model="username" class="loginInput" size="lg" type="text" placeholder="Nom d'utilisateur">
                </b-form-input>
              </b-form-group>
              <b-form-group id="group2">
                <b-form-input v-model="password" class="loginInput" size="lg" type="password" placeholder="Mot de passe">
                </b-form-input>
              </b-form-group>
              <b-button class="connectBtn" type="submit">SE CONNECTER</b-button>
            </b-form>
          </b-col>
        </b-row>
        <b-row class="text-center">
          <b-col>
            <b-link @click="switchModal" href="#">Créer un compte</b-link>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </span>
</template>

<script>
import { OBTAIN_TOKEN } from '../store/actions';
import { mapState } from 'vuex';
import { SET_ERROR } from '../store/mutations';

export default {
  name: "LoginButton",
  data() {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    hide() {
      this.$store.commit(SET_ERROR, null);
      this.$bvModal.hide('loginModal');
    },
    switchModal() {
      // Clean up errors and switch modals
      this.hide();
      this.$bvModal.show('registerModal');
    },
    login(username, password) {
      // Make request for token and close modal if 200
      this.$store.dispatch(OBTAIN_TOKEN, { username, password })
        .then(() => this.hide());
    }
  },
  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
};
</script>

<style scoped>
#login {
  text-decoration: none;
  margin-right: 15px;
  color: var(--middle-green);
}

#login:hover {
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
}

.header {
  margin: 30px;
}

.body-form {
  padding-top: 30px;
  padding-bottom: 90px;
}

.loginInput {
  border-radius: 30px;
}

.connectBtn {
  background-color: var(--dark-green);
  height: calc(1.5em + 1rem + 2px);
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--dark-green);
}

.error-messages {
  list-style-type: none;
  color: red;
}
</style>
