<template>
  <div id="map"></div>
</template>

<script>
import mapboxgl from "mapbox-gl";
import MapboxGeocoder from "@mapbox/mapbox-gl-geocoder";
import { mapGetters } from "vuex";
import { FETCH_END, SET_TRAVEL } from "../store/mutations";

export default {
  name: "Map",
  data() {
    return {
      apiKey:
        "pk.eyJ1IjoibGdpbGxpYW5kIiwiYSI6ImNrMzUwdHR2MjBlYnozaHBleG9nbHUyMTUifQ.BQMJ6rNAeDd6tDVhCkuD5g"
    };
  },
  mounted() {
    this.createMap();
    this.addMarkers();
  },
  created() {
    this.$store.subscribe(mutation => {
      if (mutation.type === FETCH_END || mutation.type === SET_TRAVEL) {
        this.addMarkers();
      }
    });
  },
  computed: {
    ...mapGetters(["travels", "travel"])
  },
  methods: {
    createMap() {
      mapboxgl.accessToken = this.apiKey;
      // init the map
      this.map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/lgilliand/ck35ltfya1uhg1cp7lnvpref7",
        minzoom: 1.3,
        center: [6.6592, 46.7791], // HEIG-VD
        zoom: 2
      });

      this.map.addControl(
        new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          mapboxgl: mapboxgl
        })
      );
      this.map.addControl(new mapboxgl.NavigationControl(), "top-left");
    },
    addMarkers() {
      if (
        this.$route.name === "travel" &&
        this.travel.longitude &&
        this.travel.latitude
      ) {
        new mapboxgl.Marker()
          .setLngLat([this.travel.longitude, this.travel.latitude])
          .addTo(this.map);
        this.map.flyTo({
          center: [this.travel.longitude, this.travel.latitude]
        });
      } else {
        for (let travel of this.travels) {
          const marker = new mapboxgl.Marker()
            .setLngLat([travel.longitude, travel.latitude])
            .addTo(this.map);
          marker.getElement().addEventListener('click', () => {
            location.href = `travel/${travel.id}`;
          });
        }
      }
    }
  }
};
</script>

<style scoped>
#map {
  height: 100%;
}
</style>
