<template>
  <div>
    <b-navbar-brand href="/profile">
      <img
        id="profileImage"
        src="../assets/img/profile.png"
        alt="profileImg"
        width="70px"
        height="70px"
      />
    </b-navbar-brand>
    <b-dropdown>
      <template v-slot:button-content>{{ getUserName() }}</template>
      <b-dropdown-item href="/profile">Editer profil</b-dropdown-item>
      <b-dropdown-item @click="logout">Déconnexion</b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
import jwt_decode from 'jwt-decode';
import { REMOVE_TOKEN } from '../store/mutations';
import { FETCH_USER } from '../store/actions';

export default {
  name: "ProfileHeader",
  methods: {
    logout() {
      this.$store.commit(REMOVE_TOKEN);
      // reload whole page to change header
      window.location.href = "/";
    },
    getUserID() {
      let userID = null;
      const token = localStorage.getItem('refreshToken');
      if (token) {
        const decoded = jwt_decode(token);
        userID = decoded.user_id;
      }
      return userID
    },
    getUserName() {
      this.$store.dispatch(FETCH_USER, this.getUserID());
      let fullName = this.$store.state.user.user.firstName;
      return fullName.concat(' ', this.$store.state.user.user.lastName);
    }
  }
};
</script>

<style scoped>
#profileImage {
  border-radius: 35px;
  margin-right: 20px;
}

/* Using deep notation to only affect this dropdown */
/deep/ .btn.dropdown-toggle.btn-secondary {
  background-color: transparent;
  color: var(--main-bg-color);
  border: none;
  padding: 0;
}

/deep/ .dropdown-menu.show {
  background-color: var(--main-bg-color);
}

/deep/ .dropdown-item {
  color: white;
}

/deep/ .dropdown-item:hover {
  background-color: var(--main-bg-color);
  color: var(--custom-yellow);
}
</style>
