<template>
  <span>
    <b-link v-b-modal.registerModal id="register" class="primary-button" href="#">S'inscrire</b-link>
    <b-modal id="registerModal" title="registerModal" hide-footer hide-header>
      <b-container>
        <div class="header">
          <b-row class="text-center">
            <b-col>
              <h6 id="greetings">BIENVENUE SUR</h6>
            </b-col>
          </b-row>
          <b-row class="text-center">
            <b-col>
              <img
                id="logo"
                src="../assets/img/logo1.png"
                alg="logo"
                width="120px"
                height="120px"
              />
            </b-col>
          </b-row>
        </div>
        <b-row class="text-center body-form">
          <b-col>
            <ul v-if="errors" class="error-messages">
              <li v-for="(v, k) in errors" :key="k">{{ k }}: {{ v }}</li>
            </ul>
            <b-form @submit.prevent="register(form)">
              <b-row>
                <b-col>
                  <b-form-group id="group1">
                    <b-form-input
                      v-model="form.lastname"
                      class="registerInput"
                      size="lg"
                      placeholder="Nom"
                      type="text"
                    >
                    </b-form-input
                  ></b-form-group>
                </b-col>
                <b-col>
                  <b-form-group id="group2">
                    <b-form-input
                      v-model="form.firstname"
                      class="registerInput"
                      size="lg"
                      placeholder="Prenom"
                      type="text"
                    >
                    </b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-form-group id="group2">
                <b-form-input
                  v-model="form.username"
                  class="registerInput"
                  size="lg"
                  placeholder="Nom d'utilisateur"
                  type="text"
                >
                </b-form-input>
              </b-form-group>
              <b-form-group id="group3">
                <b-form-input
                  v-model="form.email"
                  class="registerInput"
                  size="lg"
                  placeholder="Email"
                  type="text"
                >
                </b-form-input>
              </b-form-group>
              <b-form-group id="group4">
                <b-form-input
                  v-model="form.password"
                  class="registerInput"
                  size="lg"
                  placeholder="Mot de passe"
                  type="password"
                >
                </b-form-input>
              </b-form-group>
              <b-button class="registerBtn" type="submit">CREER UN COMPTE</b-button>
            </b-form>
          </b-col>
        </b-row>
        <b-row class="text-center">
          <b-col>
            <b-link @click="switchModal" href="#">Se connecter</b-link>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </span>
</template>

<script>
import { mapState } from 'vuex';
import { CREATE_USER } from '../store/actions';
import { SET_ERROR } from '../store/mutations';

export default {
  name: "RegisterButton",
  data() {
      return {
        form: {
          lastname: '',
          firstname: '',
          username: '',
          email: '',
          password: '',
        }
      }
    },
  methods: {
    hide() {
      this.$store.commit(SET_ERROR, null);
      this.$bvModal.hide('registerModal');
    },
    switchModal() {
      this.hide();
      this.$bvModal.show('loginModal');
    },
    register(form){
      this.$store.dispatch(CREATE_USER, form)
        .then(() => this.switchModal());
    }
  },
  computed: {
    ...mapState({
      errors: state => state.user.errors
    })
  }
};
</script>

<style scoped>
#register {
  text-decoration: none;
  color: white;
}

#register:hover {
  background-color: var(--dark-green);
}

.header {
  margin: 30px;
}

.body-form {
  padding-top: 30px;
  padding-bottom: 90px;
}

.registerInput {
  border-radius: 30px;
}

.registerBtn {
  background-color: var(--dark-green);
  height: calc(1.5em + 1rem + 2px);
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--dark-green);
}

.error-messages {
  list-style-type: none;
  color: red;
}
</style>
