<template>
  <div>
    <div id="sidebar">
      <h1>Liste de voyages</h1>
      <div v-if="isLoading" class="loader mt-4">
        <div class="spinner-border"></div>
      </div>
      <div v-else>
        <div v-if="travels.length === 0">Aucun voyage disponible</div>
        <TripPreview v-for="(travel, index) in travels" :travel="travel" :key="travel.title + index" />
      </div>
    </div>
    <div id="new-travel-button">
      <router-link :to="{ name: 'travel-new' }">
        <button class="primary-button">AJOUTER MON VOYAGE</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import TripPreview from "./TripPreview.vue";
import { mapGetters } from "vuex";
import { FETCH_TRAVELS } from "../store/actions";

export default {
  name: "SideBar",
  components: {
    TripPreview
  },
  computed: {
    // Helper that simply maps store getters to local computed properties
    ...mapGetters(["travels", "isLoading"])
  },
  mounted() {
    this.fetchTravels();
  },
  methods: {
    fetchTravels() {
      this.$store.dispatch(FETCH_TRAVELS);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#sidebar {
  padding: 1rem;
  background-color: #fcfcfc;
  overflow: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 65px;
}

.loader {
  text-align: center;
}

.spinner-border {
  color: var(--middle-green);
}

#new-travel-button {
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: 0;
  padding: 0.7rem;
  text-align: center;
  border-top: 2px solid var(--main-bg-color);
}

#new-travel-button button {
  padding-right: 50px;
  padding-left: 50px;
}
</style>
