<template>
  <div class="banner">
    <router-link :to="travelLink">
      <b-container class="no-paddings" fluid>
        <b-row no-gutter align-v="center">
          <b-col lg="3" class="trip-col-img">
            <img
              v-if="travel.banner"
              class="trip-img"
              height="65"
              width="65"
              :src="travel.banner"
              :alt="travel.title"
            />
            <img
              v-else
              class="trip-img"
              height="65"
              width="65"
              src="../assets/img/paris.jpeg"
              :alt="travel.title"
            />
          </b-col>
          <b-col lg="7">
            <b-row>
              <h2 class="ellipsis">{{ travel.title }}</h2>
            </b-row>
            <b-row>
              <p class="trip-infos">{{ travel.user }} · {{ convertDateFormat(travel.start_date) }}</p>
            </b-row>
          </b-col>
          <b-col lg="1" class="trip-like-img">
            <img src="../assets/img/empty-heart.png" alt="empty-heart" />
            <p>22</p>
          </b-col>
        </b-row>
      </b-container>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "TripPreview",
  props: {
    travel: { type: Object, required: true }
  },
  computed: {
    travelLink() {
      return {
        name: "travel",
        params: {
          id: this.travel.id
        }
      };
    },
  },
  methods: {
    convertDateFormat(strDate) {
      const date = new Date(strDate);
      return ("0" + date.getDate()).slice(-2) + "." + ("0" + (date.getMonth() + 1)).slice(-2) + "." + date.getFullYear();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.banner {
  border: 1px solid var(--middle-gray);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 21px 17px -20px rgba(112, 112, 112, 0.42);
  -moz-box-shadow: 0px 21px 17px -20px rgba(112, 112, 112, 0.42);
  box-shadow: 0px 21px 17px -20px rgba(112, 112, 112, 0.42);
}

.banner:hover {
  border-color: var(--middle-green);
}

.banner .col-lg-3 {
  margin-right: 10px;
}

.banner .col-lg-1 {
  padding: 0;
}

.banner .trip-col-img {
  flex: 0 0 50px;
}

.banner .trip-img {
  border-radius: 10px 0 0 10px;
}

.banner h2 {
  color: var(--middle-green);
  font-family: "OpenSansBold";
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-bottom: 0;
}

h2.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner a:hover {
  text-decoration: none;
}

.banner .trip-infos {
  font-family: "OpenSansRegular";
  font-size: 12px;
  color: var(--dark-gray);
  margin-bottom: 0;
  padding-bottom: 10px;
}

.banner .trip-like-img img {
  width: 20px;
  height: 20px;
}

.banner .trip-like-img p {
  font-family: "OpenSansRegular";
  font-size: 10px;
  color: var(--dark-gray);
  text-align: center;
  width: 20px;
  margin-top: 1px;
  margin-bottom: 0;
}
</style>
