<template>
  <div>
    <div class="banner no-paddings">
      <img v-if="travel.banner" class="banner-image" :src="travel.banner" alt="banner" />
      <img v-else class="banner-image" src="../assets/img/banner.jpeg" />
      <h1 class="travel-title">{{ travel.title }}</h1>
      <p class="travel-date">{{ convertDateFormat(travel.start_date) }}</p>
      <router-link to="/">
        <div class="return-button">
          <img src="../assets/img/cross-white.png" height="20px" width="20px" />
        </div>
      </router-link>
    </div>
    <b-container class="travel-meta">
      <b-row class="justify-content-center text-center">
        <b-col cols="2" sm="3" class="travel-user">
          <img
            src="../assets/img/profile.png"
            alt="travel-user-image"
            width="35px"
            height="35px"
          />
          <p>username</p>
        </b-col>
        <b-col cols="2" sm="3" class="meta-center">
          <img
            src="../assets/img/empty-heart.png"
            alt="empty-heart"
            width="35px"
            height="35px"
          />
          <p>58k</p>
        </b-col>
        <b-col cols="2" sm="3" class="location">
          <img
            src="../assets/img/map-pin-gray.png"
            alt="map-pin"
            width="35px"
            height="35px"
          />
          <p>
            {{ travel.street }} {{ travel.streetNum }}<br>
            {{ travel.postal_code }} {{ travel.city }}
          </p>
        </b-col>
      </b-row>
    </b-container>
    <div class="content">
      <div class="description">
        <h2>Description</h2>
        <p>{{ travel.description }}</p>
      </div>
      <div>
        <h2>Galerie</h2>
        <gallery :images="travel.images" :index="index" @close="index = null"></gallery>
        <div
          class="gallery"
          v-for="(image, imageIndex) in travel.images"
          :key="imageIndex"
          @click="index = imageIndex"
          :style="{ backgroundImage: 'url(' + image + ')', width: '200px', height: '200px' }"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import VueGallery from 'vue-gallery';
import { mapGetters } from 'vuex';
import { FETCH_TRAVEL } from '../store/actions';

export default {
  name: "TripDetails",
  props: ['travelId'],
  components: {
    'gallery': VueGallery
  },
  data: function() {
    return {
      index: null
    };
  },
  computed: {
    // Helper that simply maps store getters to local computed properties
    ...mapGetters(["travel"])
  },
  mounted() {
    this.fetchTravel();
  },
  methods: {
    fetchTravel() {
      this.$store.dispatch(FETCH_TRAVEL, this.travelId);
    },
    convertDateFormat(strDate) {
      const date = new Date(strDate);
      return ("0" + date.getDate()).slice(-2) + "." + ("0" + (date.getMonth() + 1)).slice(-2) + "." + date.getFullYear();
    },
  }
}
</script>

<style scoped>
h2 {
  color: var(--middle-green);
  font-family: "MontserratExtraBold";
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.banner {
  position: relative;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
}

.banner .banner-image {
  object-fit: cover;
  max-height: 150px;
  width: 100%;
  -webkit-filter: brightness(0.70);
  filter: brightness(0.70);
}

.banner .travel-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner .travel-date {
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "SourceSansProRegular";
  font-size: 1.2rem;
}

.banner .return-button {
  position: absolute;
  top: 8px;
  right: 16px;
}

.travel-meta .col-2, .travel-meta .col-5 {
  padding-top: 15px;
}

.travel-meta p {
  margin-bottom: 0;
  padding-top: 10px;
  font-family: "SourceSansProRegular";
  font-size: 0.9rem;
  color: var(--dark-gray);
}

.travel-meta .location p {
  padding-top: 5px;
}

.travel-meta .travel-user img {
  border-radius: 35px;
}

.travel-meta .meta-center {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.content {
  margin-top: 30px;
  padding: 20px;
}

.content p {
  font-family: "OpenSansRegular";
  color: var(--dark-gray);
  font-size: 0.95rem;
  margin-bottom: 50px;
  text-align: justify;
}

.gallery {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
</style>