<template>
  <div id="app" class="h-100">
    <VHeader />
    <div id="content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import VHeader from "./components/Header.vue";

export default {
  name: "app",
  components: {
    VHeader,
  }
};
</script>

<style>
:root {
  --main-bg-color: #0f2932;
  --dark-green: #335863;
  --middle-green: #546e79;
  --dark-gray: #707070;
  --middle-gray: #b1b5be;
  --middle-light-gray: #B5B5B5;
  --light-gray: #fcfcfc;
  --custom-yellow: #e2b766;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("assets/fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "SourceSansProRegular";
  src: url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "SourceSansProLight";
  src: url("assets/fonts/SourceSansPro/SourceSansPro-Light.ttf");
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

#app {
  min-height: 100%;
}

#content {
  height: auto;
  width: 100%;
  position: absolute;
  top: 90px;
  bottom: 0;
}

div.no-paddings {
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  font-family: "MontserratExtraBold";
  color: var(--middle-green);
  font-size: 1.8rem !important;
}

.primary-button {
  font-family: "OpenSansBold";
  font-size: 13px;
  color: white;
  background-color: var(--middle-green);
  border: 1px solid var(--middle-green);
  padding: 11px 16px 11px 16px;
  border-radius: 30px;
}

.primary-button:hover {
  background-color: var(--dark-green);
  color: white;
}

.secondary-button {
  font-family: "OpenSansBold";
  font-size: 13px;
  color: var(--middle-green);
  background-color: white;
  border: 1px solid var(--middle-green);
  padding: 11px 16px 11px 16px;
  border-radius: 30px;
}
</style>
